@extends('frontend.layouts.master1')
@section('main_content')





    {{-- Main Slider Start --}}

    <div>

        <section class="inview-slider banner-wrapper clear-cache ">
            <div class="container">
                <div class="banner-wrap-topContent">
                    <div dir="ltr" class="slick-slider slick-initialized" data-v-3d1a4f76><button type="button"
                            data-role="none" class="slick-arrow slick-prev" style="display:block;" data-v-21137603
                            data-v-3d1a4f76>Previous</button>
                        <div class="slick-list" data-v-3d1a4f76>
                            <div class="slick-track" style="width:700%;left:-100%;" data-v-e4caeaf8 data-v-3d1a4f76>


                                <div tabIndex="-1" data-index="-1" aria-hidden="true" class="slick-slide slick-cloned"
                                    style="width:14.285714285714286%;" data-v-e4caeaf8>
                                    <div data-v-e4caeaf8>
                                        <div tabIndex="-1" class="banner-leftSide" style="width:100%;display:inline-block;"
                                            data-v-e4caeaf8><a href="c/bed-0248.html"><img
                                                    src="{{ asset('2021-04/1380-x-780-5.jpg') }}" loading=""
                                                    class="w-100"></a></div>
                                    </div>
                                </div>

                                <div tabIndex="-1" data-index="0" aria-hidden="false"
                                    class="slick-slide slick-active slick-current"
                                    style="outline:none;width:14.285714285714286%;" data-v-e4caeaf8>
                                    <div data-v-e4caeaf8>
                                        <div tabIndex="-1" class="banner-leftSide" style="width:100%;display:inline-block;"
                                            data-v-e4caeaf8><a href="c/regal-comfort.html"><img
                                                    src="{{ asset('2021-06/slider-new.jpg') }}" loading=""
                                                    class="w-100"></a></div>
                                    </div>
                                </div>






                            </div>
                        </div><button type="button" data-role="none" class="slick-arrow slick-next" style="display:block;"
                            data-v-21137603 data-v-3d1a4f76>Next</button>
                        <ul class="slick-dots slider-dot-button" style="display:block;" data-v-3d1a4f76>
                            <li class="slick-active"><button>1</button></li>
                            <li><button>2</button></li>
                            <li><button>3</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>



        {{-- Main Slider End --}}



        {{-- Premium sofa , Comfort , Best selling --}}

        <section class="inview-feature-slider featured-wrapper  clear-cache">
            <div class="container">
                <div class="asl-carousel-container">
                    <div class="asl-carousel-slides-container carousel-slides-container">
                        <div class="asl-carousel-slides carousel-slides">
                            <div class="banner-bottomContent-post" data-v-2bfdaf76>
                                <div class="bottomContent-post-img" data-v-2bfdaf76><a href="c/sofa.html"
                                        data-v-2bfdaf76><img src="{{ asset('2021-10/sofa-silder11.jpg') }}" loading="lazy"
                                            class="w-100" data-v-2bfdaf76></a></div>
                                <div class="bottomContent-post-text" style="background-color:#03989e;" data-v-2bfdaf76>
                                    <h3 data-v-2bfdaf76><a href="c/sofa.html" style="color:#ffffff;" data-v-2bfdaf76>
                                            Premium Sofa
                                        </a></h3>
                                    <div class="post-readMore-btn" data-v-2bfdaf76><a href="c/sofa.html" data-v-2bfdaf76><i
                                                class="icon-right-big" data-v-2bfdaf76></i></a></div>
                                </div>
                            </div>
                            <div class="banner-bottomContent-post" data-v-2bfdaf76>
                                <div class="bottomContent-post-img" data-v-2bfdaf76><a href="c/regal-comfort.html"
                                        data-v-2bfdaf76><img src="{{ asset('2021-10/2021-11-15rocking.jpg') }}"
                                            loading="lazy" class="w-100" data-v-2bfdaf76></a></div>
                                <div class="bottomContent-post-text" style="background-color:#843c54;" data-v-2bfdaf76>
                                    <h3 data-v-2bfdaf76><a href="c/regal-comfort.html" style="color:#fff;" data-v-2bfdaf76>
                                            Regal Comfort
                                        </a></h3>
                                    <div class="post-readMore-btn" data-v-2bfdaf76><a href="c/regal-comfort.html"
                                            data-v-2bfdaf76><i class="icon-right-big" data-v-2bfdaf76></i></a></div>
                                </div>
                            </div>
                            <div class="banner-bottomContent-post" style="border-bottom:ddd;" data-v-2bfdaf76>
                                <div class="bottomContent-post-img" data-v-2bfdaf76><a href="c/best-selling.html"
                                        data-v-2bfdaf76><img src="{{ asset('2021-10/stool-302-.jpg') }}" loading="lazy"
                                            class="w-100" data-v-2bfdaf76></a></div>
                                <div class="bottomContent-post-text" style="background-color:#05313d;" data-v-2bfdaf76>
                                    <h3 data-v-2bfdaf76><a href="c/best-selling.html" style="color:#fff;" data-v-2bfdaf76>
                                            Best Selling
                                        </a></h3>
                                    <div class="post-readMore-btn" data-v-2bfdaf76><a href="c/best-selling.html"
                                            data-v-2bfdaf76><i class="icon-right-big" data-v-2bfdaf76></i></a></div>
                                </div>
                            </div>
                            <div class="banner-bottomContent-post" data-v-2bfdaf76>
                                <div class="bottomContent-post-img" data-v-2bfdaf76><a href="c/dinning-room.html"
                                        data-v-2bfdaf76><img src="{{ asset('2021-10/dining-silder.jpg') }}" loading="lazy"
                                            class="w-100" data-v-2bfdaf76></a></div>
                                <div class="bottomContent-post-text" style="background-color:#7a4b4b;" data-v-2bfdaf76>
                                    <h3 data-v-2bfdaf76><a href="c/dinning-room.html" style="color:#fff;" data-v-2bfdaf76>
                                            Decor your Dining Room
                                        </a></h3>
                                    <div class="post-readMore-btn" data-v-2bfdaf76><a href="c/dinning-room.html"
                                            data-v-2bfdaf76><i class="icon-right-big" data-v-2bfdaf76></i></a></div>
                                </div>
                            </div>
                            <div class="banner-bottomContent-post" data-v-2bfdaf76>
                                <div class="bottomContent-post-img" data-v-2bfdaf76><a href="c/bedroom-0227.html"
                                        data-v-2bfdaf76><img src="{{ asset('2021-10/slider-bed.jpg') }}" loading="lazy"
                                            class="w-100" data-v-2bfdaf76></a></div>
                                <div class="bottomContent-post-text" style="background-color:#03989e;" data-v-2bfdaf76>
                                    <h3 data-v-2bfdaf76><a href="c/bedroom-0227.html" style="color:#fff;" data-v-2bfdaf76>
                                            Bedroom
                                        </a></h3>
                                    <div class="post-readMore-btn" data-v-2bfdaf76><a href="c/bedroom-0227.html"
                                            data-v-2bfdaf76><i class="icon-right-big" data-v-2bfdaf76></i></a></div>
                                </div>
                            </div>
                            <div class="banner-bottomContent-post" data-v-2bfdaf76>
                                <div class="bottomContent-post-img" data-v-2bfdaf76><a href="c/comfy-bedding-solutions.html"
                                        data-v-2bfdaf76><img src="{{ asset('2021-10/category-.jpg') }}" loading="lazy"
                                            class="w-100" data-v-2bfdaf76></a></div>
                                <div class="bottomContent-post-text" style="background-color:#1e243b;" data-v-2bfdaf76>
                                    <h3 data-v-2bfdaf76><a href="c/comfy-bedding-solutions.html" style="color:#fff;"
                                            data-v-2bfdaf76>
                                            Comfy Bedding
                                        </a></h3>
                                    <div class="post-readMore-btn" data-v-2bfdaf76><a href="c/comfy-bedding-solutions.html"
                                            data-v-2bfdaf76><i class="icon-right-big" data-v-2bfdaf76></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tabindex="0" class="asl-carousel-scroll-bar"><input type="range" min="1" max="100" value="0"
                            class="asl-carousel-bar carousel-bar-3623786"></div>
                    <div class="asl-carousel-arrows"><a href="javascript:void(0)" class="asl-carousel-left-arrow d-none"><i
                                class="icon-left-open"></i></a> <a href="javascript:void(0)"
                            class="asl-carousel-right-arrow"><i class="icon-right-open"></i></a></div>
                </div>
            </div>
        </section>



        {{-- End Premium sofa , Comfort , Best selling --}}



        {{-- Top Category Start --}}

        <section class="inview-top-category shop-category-wrapper clear-cache" data-v-5294b861>
            <div class="container" data-v-5294b861>
                <div class="shop-category-header" data-v-5294b861>
                    <div class="section-title" data-v-5294b861>
                        <h2 class="title" data-v-5294b861>Top categories</h2>
                    </div>
                </div>
                <div class="shop-category" data-v-5294b861>
                    <div class="asl-carousel-container" data-v-5294b861>

                        <div class="asl-carousel-slides-container carousel-slides-container">
                            <div class="asl-carousel-slides carousel-slides">


                                @foreach ($top_five_categories as $key => $category)
                                    @if ($key !== 5)
                                        <div class="shop-category-post" data-v-3d5dc36a data-v-5294b861>
                                            <div class="shop-category-post-img" data-v-3d5dc36a><a
                                                    href="{{ route('frontend.product.sub_list', $category->slug) }}"
                                                    data-v-3d5dc36a><img src="{{ asset($category->banner) }}" loading="lazy"
                                                        format="webp" alt="" class="w-100 w-100 h-100" data-v-3d5dc36a></a>
                                                <div class="shop-category-post-text" data-v-3d5dc36a>

                                                    <a href="{{ route('frontend.product.sub_list', $category->slug) }}"
                                                        data-v-3d5dc36a><span class="shop_text_inner" data-v-3d5dc36a><span
                                                                class="shop_text_copy" data-v-3d5dc36a><span
                                                                    class="join__btn__label"
                                                                    data-v-3d5dc36a>{{ $category->name }}
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>

                                        {{-- <div class="shop-category-post" data-v-3d5dc36a data-v-5294b861>
                                                                <div class="shop-category-post-img" data-v-3d5dc36a><a
                                                                        href="c/living-room.html" data-v-3d5dc36a><img
                                                                            src="../admin.regalfurniturebd.com/storage/uploads/fullsize/2021-03/500-x-660-5.jpg"
                                                                            loading="lazy" format="webp" alt=""
                                                                            class="w-100 w-100 h-100" data-v-3d5dc36a></a>
                                                                    <div class="shop-category-post-text" data-v-3d5dc36a><a
                                                                            href="c/living-room.html" data-v-3d5dc36a><span
                                                                                class="shop_text_inner" data-v-3d5dc36a><span
                                                                                    class="shop_text_copy" data-v-3d5dc36a><span
                                                                                        class="join__btn__label" data-v-3d5dc36a>Living
                                                                                        Room</span></span></span></a></div>
                                                                </div>
                  </div> --}}
                                    @endif

                                @endforeach


                            </div>
                        </div>


                        <div tabindex="0" class="asl-carousel-scroll-bar"><input type="range" min="1" max="100" value="0"
                                class="asl-carousel-bar carousel-bar-3623815"></div>
                        <div class="asl-carousel-arrows"><a href="javascript:void(0)"
                                class="asl-carousel-left-arrow d-none"><i class="icon-left-open"></i></a> <a
                                href="javascript:void(0)" class="asl-carousel-right-arrow"><i
                                    class="icon-right-open"></i></a></div>
                    </div>
                    <div class="asl-carousel-container" data-v-5294b861>
                        <div class="asl-carousel-slides-container carousel-slides-container">
                            <div class="asl-carousel-slides carousel-slides">




                                @foreach ($top_five_categories as $key => $category)
                                    @if ($key > 4)
                                        <div class="shop-category-post" data-v-3d5dc36a data-v-5294b861>
                                            <div class="shop-category-post-img" data-v-3d5dc36a><a
                                                    href="{{ route('frontend.product.sub_list', $category->slug) }}"
                                                    data-v-3d5dc36a><img src="{{ asset($category->banner) }}"
                                                        loading="lazy" format="webp" alt="" class="w-100 w-100 h-100"
                                                        data-v-3d5dc36a></a>
                                                <div class="shop-category-post-text" data-v-3d5dc36a>

                                                    <a href="{{ route('frontend.product.sub_list', $category->slug) }}"
                                                        data-v-3d5dc36a><span class="shop_text_inner" data-v-3d5dc36a><span
                                                                class="shop_text_copy" data-v-3d5dc36a><span
                                                                    class="join__btn__label"
                                                                    data-v-3d5dc36a>{{ $category->name }}
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>

                                        {{-- <div class="shop-category-post" data-v-3d5dc36a data-v-5294b861>
                                                                <div class="shop-category-post-img" data-v-3d5dc36a><a
                                                                        href="c/living-room.html" data-v-3d5dc36a><img
                                                                            src="../admin.regalfurniturebd.com/storage/uploads/fullsize/2021-03/500-x-660-5.jpg"
                                                                            loading="lazy" format="webp" alt=""
                                                                            class="w-100 w-100 h-100" data-v-3d5dc36a></a>
                                                                    <div class="shop-category-post-text" data-v-3d5dc36a><a
                                                                            href="c/living-room.html" data-v-3d5dc36a><span
                                                                                class="shop_text_inner" data-v-3d5dc36a><span
                                                                                    class="shop_text_copy" data-v-3d5dc36a><span
                                                                                        class="join__btn__label" data-v-3d5dc36a>Living
                                                                                        Room</span></span></span></a></div>
                                                                </div>
                  </div> --}}
                                    @endif

                                @endforeach


                            </div>
                        </div>
                        <div tabindex="0" class="asl-carousel-scroll-bar"><input type="range" min="1" max="100" value="0"
                                class="asl-carousel-bar carousel-bar-3623836"></div>
                        <div class="asl-carousel-arrows"><a href="javascript:void(0)"
                                class="asl-carousel-left-arrow d-none"><i class="icon-left-open"></i></a> <a
                                href="javascript:void(0)" class="asl-carousel-right-arrow"><i
                                    class="icon-right-open"></i></a></div>
                    </div>
                </div>
            </div>
        </section>


        {{-- Top Category End --}}


        <!---->
        <section class="inview-top-offers products-offers-wrapper clear-cache ">
            <div class="container">
                <div class="products-offers-inner-wrap section-grap2">
                    <div class="products-offers-header">
                        <div class="section-title">
                            <h2 class="title">Top Offers</h2>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="pd-offers-read-btn"><a href="page/top-offers.html" class="common-btn_color">View all
                            offers</a></div>
                </div>
            </div>
        </section>
        <!---->



        <section class="inview-new-arrivals guides-category-wrapper clear-cache " data-v-2d1bed34>
            <div class="container" data-v-2d1bed34>
                <div class="shop-category-header" data-v-2d1bed34>
                    <div class="section-title" data-v-2d1bed34>
                        <h2 class="title" data-v-2d1bed34>New Arrivals</h2>
                    </div>
                </div>
                <div class="asl-carousel-container" data-v-2d1bed34>
                    <div class="asl-carousel-slides-container carousel-slides-container">
                        <div class="asl-carousel-slides carousel-slides">



    
                            @foreach ($recent_products as $recent_product)


                            <div data-v-76f26040="" data-v-2d1bed34="" class="product-design-container">
                                <div data-v-76f26040="" class="product-item">
                                    <div data-v-76f26040="" class="plp-checkbox--subtle plp-checkbox"><input
                                            data-v-76f26040="" type="checkbox" name="checkboxname" id="checkbox"
                                            black="true" value="ett"> <span data-v-76f26040=""
                                            class="plp-checkbox__symbol"></span></div>
                                    <div data-v-76f26040="" class="wishlist-btn"><a data-v-76f26040=""
                                            href="javascript:void(0)"><i data-v-76f26040=""
                                                class="icon-heart-empty"></i></a></div> <a data-v-76f26040=""
                                        href="/product/dandy" class="">
                                       
                                        <div data-v-76f26040="" class="product-item-img"><img data-v-76f26040="" src="{{asset($recent_product->image)}}"
                                                loading="lazy" class="w-100 hide-img w-100" alt=""> <img data-v-76f26040=""
                                                src="{{asset($recent_product->image)}}"
                                                loading="lazy" class="w-100 show-img w-100" alt=""></div> 
                                                
                                                <span data-v-76f26040="" class="product-item-text">
                                                <span data-v-76f26040="" class="pd_name_highlight">{!!$recent_product->title!!}</span> 

                                                <span data-v-76f26040="" class="pd_description_title">{!!Illuminate\Support\Str::limit($recent_product->description, 30)!!}</span> 
                                                
                                               
                                                <span data-v-76f26040="" class="pd_small_price"><s data-v-76f26040="" class="text-muted">
                                                    ৳.
                                                    {{$recent_product->price}}</s>

                                               

                                                @if($recent_product->discount !== null)
                                                <p data-v-76f26040="" class="font-weight-bold d-inline pd-discount-text">-
                                                    {{$recent_product->discount}}%</p>

                                            </span> <span data-v-76f26040="" class="pd_highlight_price">৳. <b
                                                    data-v-76f26040=""> {{$recent_product->price - $recent_product->discounted_price}} </b></span></span>
                                                    @endif
                                    </a>
                                    <!---->
                                    <!---->
                                    <!---->

                                </div>
                            </div>

                            @endforeach
                         


                        </div>
                    </div>
                    <div tabindex="0" class="asl-carousel-scroll-bar"><input type="range" min="1" max="100" value="0"
                            class="asl-carousel-bar carousel-bar-3623860"></div>
                    <div class="asl-carousel-arrows"><a href="javascript:void(0)"
                            class="asl-carousel-left-arrow d-none"><i class="icon-left-open"></i></a> <a
                            href="javascript:void(0)" class="asl-carousel-right-arrow"><i class="icon-right-open"></i></a>
                    </div>
                </div>
            </div>
        </section>




        {{-- More ideas and inspiration --}}


        <section class="inview-tag-gallery product-tab-wrapper " data-v-409c3e60>
            <div class="container" data-v-409c3e60>
                <div class="product-tab-content " data-v-409c3e60>
                    <div class="product-tab-header" data-v-409c3e60>
                        <div class="section-title" data-v-409c3e60>
                            <h2 class="title" data-v-409c3e60>More ideas and inspiration</h2>
                        </div>
                    </div>
                    <!---->
                    <div class="ofeed-thumbnail-grid" data-v-409c3e60></div>
                    <!---->
                </div>
            </div>
        </section>



        {{-- News and events --}}

        <section class="inview-news-event category-related-products clear-cache  " data-v-07f39212>
            <div class="container" data-v-07f39212>
                <div class="category-rl-pd-wrap" data-v-07f39212>
                    <div class="category-rl-pd-header" data-v-07f39212>
                        <div class="section-title" data-v-07f39212>
                            <h2 class="title" data-v-07f39212>News and events</h2>
                        </div>
                    </div>
                    <div class="row" data-v-07f39212>
                        <div class="asl-carousel-container" data-v-07f39212>
                            <div class="asl-carousel-slides-container carousel-slides-container">
                                <div class="asl-carousel-slides carousel-slides"></div>
                            </div>
                            <div tabindex="0" class="asl-carousel-scroll-bar"><input type="range" min="1" max="100"
                                    value="0" class="asl-carousel-bar carousel-bar-3623863"></div>
                            <div class="asl-carousel-arrows"><a href="javascript:void(0)"
                                    class="asl-carousel-left-arrow "><i class="icon-left-open"></i></a> <a
                                    href="javascript:void(0)" class="asl-carousel-right-arrow"><i
                                        class="icon-right-open"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="rl-pd-read-btn" data-v-07f39212><a href="blogs.html" class="common-btn_color"
                            data-v-07f39212>More....</a></div>
                </div>
            </div>
        </section>


        {{-- Explore our furniture &amp; home furnishing
        range --}}

        <!---->
        <section class="brand-description-wrap clear-cache " data-v-852305fa>
            <div class="container" data-v-852305fa>
                <div class="brand-des-wrap-content section-grap2" data-v-852305fa>
                    <div class="brand-description-header" data-v-852305fa>
                        <div class="section-title" data-v-852305fa>
                            <h2 class="title" data-v-852305fa>Explore our furniture &amp; home furnishing
                                range</h2>
                        </div>
                    </div>
                    <div class="row" data-v-852305fa>
                        <div class="col-md-6" data-v-852305fa>
                            <div class="brand-description-text" data-v-852305fa>
                                <p data-v-852305fa><strong data-v-852305fa>Regal Furniture is a bangladeshi
                                        leader in life at home.</strong></p>
                                <p data-v-852305fa>Whether you just moved into a new home or looking to
                                    revamp your current one, we at <a href="#" data-v-852305fa>Regal
                                        Furniture</a> are here to inspire you with affordable home furniture
                                    solutions, there is a piece of <a href="#" data-v-852305fa>furniture</a>
                                    to every corner of your home. Create a home that is perfect for you.</p>
                                <p data-v-852305fa>Shopping at Regal Furniture is a bit different and
                                    exciting compared to your shopping at an everyday retail. It is about
                                    experiencing solutions first hand and getting to know <a href="#"
                                        data-v-852305fa>ideas</a> and inspirations that can fit perfectly
                                    into your home. That’s why, we offer more than thousand products,
                                    solutions at our store along with home furnishing ideas and services for
                                    you to explore.</p>
                                <p data-v-852305fa>Since most Regal Furniture is flat-packed, they are quite
                                    easy to bring home when you buy from the store.</p>
                            </div>
                        </div>
                        <div class="col-md-6" data-v-852305fa>
                            <div class="brand-category-sub-links" data-v-852305fa>
                                <p data-v-852305fa><strong data-v-852305fa>
                                        <ul class="category-list" data-v-852305fa></ul> <br data-v-852305fa>
                                    </strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div>
            <div class="text-center">
                <div class="loading-item">
                    <div class="loading-dots-list">
                        <div class="loading-dot"></div>
                    </div>
                    Loading ..

                </div>
            </div>
            <!---->
        </div>





    </div>
    <!---->



    </div>

@endsection
